export POSTGRES_USER="brainster"
export POSTGRES_PASSWORD="MyExtraSecurePassword2024!"
export POSTGRES_DB="brainster"

export DATABASE_URL="postgresql://brainster:MyExtraSecurePassword2024!@localhost:5432/brainster?schema=public"